{% extends "store/base.html" %}
{% block body_block %}
{% if user.is_authenticated %}
{% if user.vendordetail.is_vendor %}
<h2>ACCESS DENIED !</h2>
<h3>Please use a user account to login.</h3>
{% else %}
<div class="row mt-5">
  <div class="col-md-6 row align-items-center mt-2 justify-content-center">
    {% for item in itemobj %}
    <img src="{{ item.itemimg.url }}" class="w-50" />
    {% endfor %}
  </div>
  <div class="col-md-6 mt-2 float-start">
    {% for item in itemobj %}
    <p class="mt-5 h-auto fs-3">{{ item.itemname }}</p>
    <div class="mb-4">
      <p class="d-inline fs-5">Price: </p>
      <p class="d-inline fs-1 text-success">₹ {{ item.itemprice }}</p>
    </div>
    <p class="h-auto fs-6">Sold by <a href="{% url 'vendorProfile' item.vendorName.vendor.username %}">{{ item.vendorName }}</a></p>
    <form method="POST">
      {% csrf_token %}
      <div class="text-lg-start mb-6">
        <button type="submit" name="addToCart" class="btn btn-primary btn-lg w-25">Add to cart</button><br>
        {% if added_to_cart %}
        <p class="d-inline fs-4 text-success">Successfully added to cart !</p>
        {% endif %}
      </div>
      <div class="text-lg-start mb-6">
        <button type="submit" name="addToWishlist" class="btn btn-primary btn-lg w-25">Add to wishlist</button><br>
        {% if added_to_wishlist %}
        <p class="d-inline fs-4 text-success">Successfully added to wishlist !</p>
        {% endif %}
        {% if already_in_wishlist %}
        <p class="d-inline fs-4 text-danger">Item is already in wishlist !</p>
        {% endif %}
      </div>
    </form>
    {% endfor %}
    <div class="row justify-content-center align-items-center">
      <p class="text-center fs-3">Reviews</p>
      {% for review in reviews %}
      <p class="text-center fs-5 border w-100">{{ review.review }}</p>
      {% endfor %}
      <form method="POST">
      {% csrf_token %}
      <textarea placeholder="Your review" name="review" class="w-100"></textarea>
      <div class="text-lg-start mb-6">
        <button type="submit" class="btn mt-4 btn-primary btn-lg w-25">Submit</button><br>
        {% if reviewStatus %}
        <p class="d-inline fs-4 text-success">Review submitted !</p>
        {% endif %}
        {% if exists %}
        <p class="d-inline fs-4 text-danger">You have already reviewed this product !</p>
        {% endif %}
      </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
